<form enctype="multipart/form-data"  method="post">
  {% csrf_token %}
  
  {% for campo in formulario %}
  {% if campo.name != 'usuario'%}
  <div class=" mb-3">
    <label for="" class="form-label">{{ campo.label }}</label>
    
    <input value="{{ campo.value | default:'' }}" type="{{ campo.field.widget.input_type }}" name="{{ campo.name }}" class="form-control" aria-describedby="helpId" placeholder="{{ campo.label }}" value="">
  </div>
  <div class="col-12 errors help-text">
    {{ campo.errors }}

  </div>
  {% endif  %}
  {% endfor %}

  <input  value="{{ user.username | default:'' }}" type="hidden" name="usuario" class="form-control mb-3" aria-describedby="helpId" placeholder="" >
  <input class="btn btn-success" type="submit" value="Agregar/Editar">
  <a class="btn btn-danger" href="{% url 'tareas' %}" role="button">Cancelar</a>
</form>
