{% extends 'base.html' %}
{% block titulo %} Tareas Por Hacer {% endblock %}
{% block contenido %}

<div class="card">
  <div class="card-header">
    <a href="{% url 'crearTarea' %}" role="bu
    " class="btn btn-success">Crear Tarea</a>
  </div>
  <div class="card-body">
    <h4 class="card-title">Agregar una tarea</h4>

    <table class="table">
      <thead>
        <tr>
          
          <th>Tarea</th>
          <th>Fecha Incio</th>
          <th>Plazo para terminar</th>
          <th>Acciones</th>
        </tr>
      </thead>
        <tbody class="table-group-divider">
          {% if tareas %}
            {% for tareas in tareas %}
          {% if tareas.usuario == user.username %}
            <tr>
              
              <td>{{tareas.nombreTarea}}</td>
              <td>{{tareas.fechaIncio.year}}/{{tareas.fechaIncio.month}}/{{tareas.fechaIncio.day}}</td>
              <td>{{tareas.plazoParaTerminar.year}}/{{tareas.plazoParaTerminar.month}}/{{tareas.plazoParaTerminar.day}}</td>
              <td><a href="{% url 'editarTarea' tareas.id %}" class="btn btn-info" role="button">Editar</a> | <a href="{% url 'eliminarTarea' tareas.id %}" class="btn btn-danger" role="button">Eliminar</a></td>
            </tr>
          {% endif %}
            {% endfor %}
            {% else %}
              <p class='errors'>No tienes tareas pendientes.</p>
          {% endif %}
          
          
          </tbody>
      </table>
  </div>
</div>


{% endblock %}
